<div class="animated fadeIn">
  <div class="card" [hidden]="!procurements || procurements.empty()">
    <div class="card-header">本周采购信息 ({{dateFrom}} ~ {{dateTo}})
      <csv (Download)="DownloadCsv(false, filename('本周采购信息'), $event)" [headers]="['日期','食材','数量(千克)']"
        [columns]="['date','ingredient','total']">
      </csv>
      <button type="button" (click)="showconditionsearch()" class="btn btn-sm btn-primary pull-right">按条件检索</button>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="查询" />
          </div>
        </div>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <table class="table table-striped" [mfData]="items | procurementFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="10" [hidden]="loading">
        <thead>
          <tr>
            <th style="width: 20%">
              <mfDefaultSorter by="date">日期</mfDefaultSorter>
            </th>
            <th style="width: 20%">                
              <mfDefaultSorter by="ingredient">食材</mfDefaultSorter>
            </th>
            <th style="width: 20%">                
              <mfDefaultSorter by="recipe">食谱</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="total" tooltip="单位:千克">数量</mfDefaultSorter>
            </th>            
            <th style="width: 20%" tooltip="采购数据是根据原始数据通过机器学习计算得出的，如果您觉得数据有误，您可以手动编辑以提高机器学习的精度">编辑</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.date}}</td>
            <td>{{item.ingredient}}</td>
            <td><a [routerLink]="['../食谱信息', item.recipe]">{{item.recipe}}</a></td>
            <td [hidden]="item.total==0">{{item.total}}</td>
            <td [hidden]="item.total>0"><span tooltip="没有原始数据，请编辑">NA</span></td>
            <td><a (click)="showedit(item, $event)"><i class="fa fa-edit"></i></a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,30]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #conditionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">条件检索</h6>
        <button type="button" class="close" (click)="conditionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="btn-group">
          <input id="searchpanel" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker
            [(ngModel)]="dateRange" [bsConfig]="datepickerconfig">
        </div>

        <div class="btn-group float-right">
          <button type="button" class="btn btn-success" (click)="getprocurements(false)">检索</button>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">编辑</h6>
        <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            编辑 <strong>{{edititem.ingredient}}</strong> 采购信息
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-horizontal" #f="ngForm" (ngSubmit)="updateprocurement(f.value, $event)">

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="date">日期</label>
                <div class="col-md-9">
                  <input type="text" name="date" class="form-control" [(ngModel)]="edititem.date" disabled>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="ingredient">食材</label>
                <div class="col-md-9">
                  <input type="text" name="ingredient" class="form-control" [(ngModel)]="edititem.ingredient" disabled>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="recipe">食谱</label>
                <div class="col-md-9">
                  <input type="text" name="recipe" class="form-control" [(ngModel)]="edititem.recipe" disabled>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label small" for="total">数量(千克)</label>
                <div class="col-md-9">
                  <input type="text" name="total" class="form-control" [(ngModel)]="edititem.total" required>
                </div>
              </div>

              <button type="submit" [disabled]="!f.form.valid" class="btn btn-sm btn-danger float-right"><i class="fa fa-dot-circle-o"></i> 确定</button>
            </form>
          </div>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->