<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      食谱信息
      <csv (Download)="DownloadCsv(false, filename('食谱信息'), $event)" [headers]="['ID','食谱名','食材','碳水化合物','膳食纤维','蛋白质','脂肪','热量']"
        [columns]="['id','name','ingredientNames','nutrition?.carbohydrate','nutrition?.dietaryfiber','nutrition?.protein','nutrition?.fat','nutrition?.heat']">
      </csv>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="查询" />
          </div>
        </div>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <table class="table table-striped" [mfData]="items | recipeFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="30" [hidden]="loading">
        <thead>
          <tr>
            <th style="width: 5%">
              <mfDefaultSorter by="name">ID</mfDefaultSorter>
            </th>
            <th style="width: 17%">
              <mfDefaultSorter by="name">食谱名</mfDefaultSorter>
            </th>
            <th style="width: 35%">
              <mfDefaultSorter by="ingredientNames">食材</mfDefaultSorter>
            </th>
            <th style="width: 7%">
              <mfDefaultSorter by="nutrition?.carbohydrate">碳水化合物</mfDefaultSorter>
            </th>
            <th style="width: 7%">
              <mfDefaultSorter by="nutrition?.dietaryfiber">膳食纤维</mfDefaultSorter>
            </th>
            <th style="width: 7%">
              <mfDefaultSorter by="nutrition?.protein">蛋白质</mfDefaultSorter>
            </th>
            <th style="width: 7%">
              <mfDefaultSorter by="nutrition?.fat">脂肪</mfDefaultSorter>
            </th>
            <th style="width: 7%">
              <mfDefaultSorter by="nutrition?.heat">热量</mfDefaultSorter>
            </th>
            <th style="width: 8%">食材信息</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.ingredientNames}}</td>
            <td>{{item.nutrition?.carbohydrate}}</td>
            <td>{{item.nutrition?.dietaryfiber}}</td>
            <td>{{item.nutrition?.protein}}</td>
            <td>{{item.nutrition?.fat}}</td>
            <td>{{item.nutrition?.heat}}</td>
            <td><a class="text-center" [routerLink]="['../../食材信息', item.ingredientIds]"><i class="fa fa-link fa-sm"></i></a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,30]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>