<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <p class="card-header">请选择分部</p>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary px-10" (click)="branch(1)">钟楼部</button>
                                    <button type="button" class="btn btn-success px-10" (click)="branch(2)">临仓部</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>