<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>东风幼儿园欢迎您</h1>
            <div class="input-group mb-3 text-danger" [hidden]="!errormsg">
              {{errormsg}}
            </div>
            <p class="text-muted" [hidden]="errormsg">您还没有登录</p>
            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="邮箱" [(ngModel)]="email">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="密码" [(ngModel)]="password">
            </div>
            <div class="row">
              <div class="col-2">
                <a [routerLink]="['../注册']" class="btn btn-link px-4" role="button">注册新用户</a>
              </div>
              <div class="col-10 text-right">
                <button type="button" class="btn btn-success px-4" (click)="login(email, password)">登录</button>
                <a [routerLink]="['../重置密码']" class="btn btn-link px-4" role="button">忘记密码?</a>
              </div>

            </div>
          </div>

          <div class="card-footer p-4 bg-darkslategrey">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-success" type="button" [disabled]>
                  <span tooltip="微信接口申请中，暂时无法使用">
                    <i class="fa fa-wechat"></i>微信
                  </span>
                </button>
              </div>
              <div class="col-6">
                <a class="btn btn-block btn-primary" [href]="authService.openIdDingTalk" role="button" >
                  <span class="icon-dingding"> 钉钉</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>