<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>注册新用户</h1>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="用户名" [(ngModel)]="name">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="邮箱" [(ngModel)]="email">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="密码" [(ngModel)]="password">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="重复密码" [(ngModel)]="repeatPassword"
                (change)="checkPassword()">
            </div>

            <div class="input-group mb-4 text-danger" [hidden]="!errormsg">
              {{errormsg}}
            </div>

            <button type="button" class="btn btn-block btn-success" [disabled]="errormsg" (click)="register()">注册</button>
            <a [routerLink]="['../登录']" class="btn btn-link px-4 float-right" role="button">返回登录页面</a>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>