<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">电子书
      <button type="button" (click)="showconditionsearch()" class="btn btn-sm btn-primary pull-right">按条件检索</button>
      <button type="button" (click)="showexplain()" class="btn btn-sm btn-success pull-right">说明</button>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="查询" />
          </div>
        </div>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <table class="table table-striped" [mfData]="items | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="10" [hidden]="loading">
        <thead>
          <tr>
            <th style="width: 20%">学年</th>
            <th style="width: 30%">
              <mfDefaultSorter by="className">班级</mfDefaultSorter>
            </th>
            <th style="width: 25%">
              <mfDefaultSorter by="pupilName">姓名</mfDefaultSorter>
            </th>
            <th style="width: 25%">电子书</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{currentYear}}</td>
            <td>{{item.className}}</td>
            <td>{{item.pupilName}}</td>
            <td><a (click)="showebook(item)"><i class="fa fa-address-book"></i></a></td>            
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,30]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #conditionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">按条件检索</h6>
        <button type="button" class="close" (click)="conditionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
            {{searchcriteria.class}} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="setclass(0)">全部</a>
            </li>
            <li *ngFor="let key of getKeys(classMap)" role="menuitem">
              <a class="dropdown-item" (click)="setclass(key, classMap.get(key))">{{classMap.get(key)}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
            {{searchcriteria.name}} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="setpupil(0)">全部</a>
            </li>
            <li *ngFor="let pupil of filteredPupilMap" role="menuitem">
              <a class="dropdown-item" (click)="setpupil(pupil.key, pupil.value)">{{pupil.value}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group float-right">
          <button type="button" class="btn btn-success" (click)="getEbooks()">检索</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div bsModal #ebookModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title">电子书预览</h6>
        <button type="button" class="close" (click)="ebookModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">

          <div class="card-header">
            {{pupilMap.get(currentName)}}
            <small> {{classMap.get(currentClass)}}</small>
          </div>

          <div class="card-body">
            <carousel [interval]="4500">
              <slide *ngFor="let image of images; let i = index">
                <img [src]="image" [alt]="'slide'+i" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-sm btn-success float-right" (click)="downloadebooks()">下载电子书</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #explainModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">电子书说明</h6>
        <button type="button" class="close" (click)="explainModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>电子书是根据成长档案编辑器自动创建的。您编辑的结果将在5分钟内反映到电子书</li>          
          <li>您可以下载PDF格式的电子书供打印成册</li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->