.gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
}

.nl-link {
    color: inherit;
}

.info-link {
    text-decoration: none;
}

#info-cont {
    line-height: 17px;
}

.grapesjs-logo {
    display: block;
    height: 90px;
    margin: 0 auto;
    width: 90px;
}

.grapesjs-logo path {
    stroke: #eee !important;
    stroke-width: 8 !important;
}

.gjs-pn-views-container {
    width: 16%;
}

.modal-content {min-width: 700px;}