<div class="animated fadeIn">
    <div class="card" [hidden]="!profileloaded">
        <div class="card-header">
            成长档案 - {{this.currentYear}}学年 {{this.currentClass}} {{this.currentName}} {{this.currentDate}}            
            <button type="button" (click)="showConfirmModal()" class="btn btn-sm btn-danger pull-right">删除</button>
            <button type="button" (click)="showNewProfileModal()" class="btn btn-sm btn-success pull-right">新建</button>
            <button type="button" (click)="showExplainModal()" class="btn btn-sm btn-warning pull-right">说明</button>
            <button type="button" (click)="getNext()" class="btn btn-sm btn-info pull-right">下一页</button>
            <button type="button" (click)="getPrev()" class="btn btn-sm btn-info pull-right">上一页</button>
        </div>
        <div class="card-body" id="gjs"></div>        
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #profileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择成长档案</h4>
                <button type="button" class="close" (click)="profileModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>              
            </div>
            <div class="modal-body">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{params["year"] || searchcriteria.year}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let year of years" role="menuitem">
                            <a class="dropdown-item" (click)="setyear(year)">{{year}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{params["class"] || searchcriteria.class}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let class of classes" role="menuitem">
                            <a class="dropdown-item" (click)="setclass(class)">{{class}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{params["name"] || searchcriteria.name}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let name of profilenames" role="menuitem">
                            <a class="dropdown-item" (click)="setname(name)">{{name}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{searchcriteria.date}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let date of profiledates" role="menuitem">
                            <a class="dropdown-item" (click)="setdate(date)">{{date}}</a>
                        </li>
                        <li [hidden]="profiledates.length" role="menuitem">
                            <a class="dropdown-item">没有数据，请新建成长档案</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="loadProfileEditor()">检索</button>
                <button type="button" class="btn btn-primary" (click)="showNewProfileModal()">新建</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #newprofileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建成长档案</h4>
                <button type="button" class="close" (click)="showProfileModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{params["year"] || searchcriteria.year}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let year of pupilyears" role="menuitem">
                            <a class="dropdown-item" (click)="setyear(year)">{{year}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{params["class"] || searchcriteria.class}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let class of pupilclasses" role="menuitem">
                            <a class="dropdown-item" (click)="setclass(class)">{{class}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{params["name"] || searchcriteria.name}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let name of pupilnames" role="menuitem">
                            <a class="dropdown-item" (click)="setname(name)">{{name}}</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-success" (click)="createProfile()">确定</button>
                <button type="button" class="btn btn-primary" (click)="showProfileModal()">返回</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除成长档案</h4>
                <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group">确定删除该成长档案?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteProfile()">删除</button>
                <button type="button" class="btn btn-primary" (click)="confirmModal.hide()">取消</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #explainModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">成长档案编辑器说明</h6>
        <button type="button" class="close" (click)="explainModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul>
            <li>您可以通过拖/拉组件来实现各种效果，编辑效果会被自动保存。</li>
            <li>您可以使用编辑器的<b>导出模板</b>功能导出压缩文件。</li>
            <li>您可以使用编辑器的<b>编辑代码</b>功能直接编辑HTML。</li>
          </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->