<div class="animated fadeIn">
    <div class="card" [hidden]="!profileloaded">
        <div class="card-header">
            成长档案 - {{searchcriteria.class}} {{searchcriteria.name}} {{currentDate}}
            <button type="button" (click)="getNext()" class="btn btn-sm btn-info pull-right">下一页</button>
            <button type="button" (click)="getPrev()" class="btn btn-sm btn-info pull-right">上一页</button>
            <button type="button" (click)="showConfirmModal()" class="btn btn-sm btn-danger pull-right">删除</button>
            <button type="button" (click)="showNewProfileModal()" class="btn btn-sm btn-success pull-right">新建</button>
            <button type="button" (click)="showExplainModal()" class="btn btn-sm btn-warning pull-right">说明</button>
            <button type="button" (click)="showProfileModal()" class="btn btn-sm btn-primary pull-right">检索</button>
        </div>
        <div class="card-body" id="gjs"></div>
    </div>
    <button class="btn btn-primary btn-upload" *ngIf="showProfileUploadBtn" (click)="showProfileModal()">选择成长档案</button>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #profileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择成长档案</h4>
                <button type="button" class="close" (click)="closeProfileModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{searchcriteria.class}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let key of getKeys(classMap)" role="menuitem">
                            <a class="dropdown-item" (click)="setclass(key, classMap.get(key))">{{classMap.get(key)}}</a>
                        </li>

                        <li [hidden]="classMap.size" role="menuitem">
                            <a class="dropdown-item">没有数据，请新建成长档案</a>
                        </li>
                    </ul>
                </div>                

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{searchcriteria.name}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let key of getKeys(filterPupilMap(_pupilMap))" role="menuitem">
                            <a class="dropdown-item" (click)="setpupil(key, filterPupilMap(_pupilMap).get(key))">{{filterPupilMap(_pupilMap).get(key)}}</a>
                        </li>
                        <li *ngIf="!currentClass" role="menuitem">
                            <a class="dropdown-item">请先选择班级</a>
                        </li>
                        <li *ngIf="currentClass && !filterPupilMap(_pupilMap).size" role="menuitem">
                            <a class="dropdown-item">没有数据，请新建成长档案</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{searchcriteria.date}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let date of profiledates" role="menuitem">
                            <a class="dropdown-item" (click)="setdate(date)">{{date}}</a>
                        </li>
                        <li *ngIf="!currentName" role="menuitem">
                            <a class="dropdown-item">请先选择姓名</a>
                        </li>
                        <li *ngIf="currentName && !profiledates.length" role="menuitem">
                            <a class="dropdown-item">没有数据，请新建成长档案</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="loadProfileEditor()">检索</button>
                <button type="button" class="btn btn-primary" (click)="showNewProfileModal()">新建</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #newprofileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建成长档案</h4>
                <button type="button" class="close" (click)="showProfileModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{searchcriteria.class}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngFor="let key of getKeys(fullClassMap)" role="menuitem">
                            <a class="dropdown-item" (click)="setclass(key, fullClassMap.get(key))">{{fullClassMap.get(key)}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{searchcriteria.name}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">                        
                        <li *ngFor="let key of getKeys(filterPupilMap(fullPupilMap))" role="menuitem">
                            <a class="dropdown-item" (click)="setpupil(key, filterPupilMap(fullPupilMap).get(key))">{{filterPupilMap(fullPupilMap).get(key)}}</a>
                        </li>
                        
                        <li [hidden]="currentClass" role="menuitem">
                            <a class="dropdown-item">请先选择班级</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{currentTemplate ? templateMap.get(currentTemplate) : '模板'}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem">
                            <a class="dropdown-item" (click)="settemplate(0)">不使用模板</a>
                        </li>

                        <li *ngFor="let key of getKeys(templateMap)" role="menuitem">
                            <a class="dropdown-item" (click)="settemplate(key, templateMap.get(key))">{{templateMap.get(key)}}</a>
                        </li>

                        <li [hidden]="templateMap.size" role="menuitem">
                            <a class="dropdown-item">没有可用模板</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
                        {{dateToString(profilecreatedate) || params["date"] || searchcriteria.date}} <span
                            class="caret"></span>
                    </button>
                    <input *dropdownMenu class="dropdown-menu" role="menu" class="form-control" #drp="bsDatepicker"
                        [(ngModel)]="profilecreatedate" bsDatepicker [bsConfig]="datepickerconfig">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createProfile()">确定</button>
                <button type="button" class="btn btn-primary" (click)="showProfileModal()">返回</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除成长档案</h4>
                <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group">确定删除该成长档案?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteProfile()">删除</button>
                <button type="button" class="btn btn-primary" (click)="confirmModal.hide()">取消</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #explainModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">成长档案编辑器说明</h6>
                <button type="button" class="close" (click)="explainModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>您可以通过拖/拉组件来实现各种效果，编辑效果会被自动保存。</li>
                    <li>您可以使用编辑器的<b>导出模板</b>功能导出压缩文件。</li>
                    <li>您可以使用编辑器的<b>编辑代码</b>功能直接编辑HTML。</li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->