<div class="animated fadeIn">
  <div class="card" [hidden]="!pupils || pupils.empty()">
    <div class="card-header">{{currentClass}} 园儿信息 {{currentYear ? '(' + currentYear + '学年)' : ''}}
      <csv (Download)="DownloadCsv(false, filename('园儿信息'), $event)" [headers]="['ID','班级','姓名']" [columns]="['id','class','name']">
      </csv>
      <button type="button" (click)="showupload()" class="btn btn-sm btn-danger pull-right">上传</button>
      <button type="button" (click)="showconditionsearch()" class="btn btn-sm btn-primary pull-right">按条件检索</button>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="查询" />
          </div>
        </div>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <table class="table table-striped" [mfData]="items | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="10" [hidden]="loading">
        <thead>
          <tr>
            <th style="width: 5%">
              <mfDefaultSorter by="id">ID</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="age">班级</mfDefaultSorter>
            </th>
            <th style="width: 35%">
              <mfDefaultSorter by="name">姓名</mfDefaultSorter>
            </th>
            <th style="width: 10%">出勤信息</th>
            <th style="width: 10%">体格信息</th>
            <th style="width: 10%">成长档案</th>
            <th style="width: 10%">编辑</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.id}}</td>
            <td>{{item.class}}</td>
            <td>{{item.name}}</td>
            <td><a [routerLink]="['/出勤信息', item.class, item.name]"><i class="fa fa-link"></i></a></td>
            <td><a [routerLink]="['/体格发育', item.class, item.name]"><i class="fa fa-link"></i></a></td>
            <td><a [routerLink]="['/成长档案', item.year, item.class, item.name]"><i class="fa fa-link"></i></a></td>
            <td><app-edit-btn [title]="'编辑园儿信息'" [item]="item" [fields]="['name','class']" (onSubmit)="updatepupil($event)"></app-edit-btn></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,30]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">没有园儿信息，请上传</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" [uploader]="fileUploader1"
          (fileOver)="fileOverBase($event)" class="well my-drop-zone">
          请将园儿信息csv格式文件拖至此处上传
        </div>        
        <div>
          或直接打开文件上传
          <input type="file" ng2FileSelect [uploader]="fileUploader2" /><br/>
        </div>
      </div>
      <div class="modal-footer">
        下载csv模板 <csv (Download)="DownloadCsv(true, '园儿信息模板.csv', $event)" [headers]="['ID','学年','班级','姓名']"
          [columns]="['id','year','class','name']"></csv>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #conditionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">按条件检索</h6>
        <button type="button" class="close" (click)="conditionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
            {{searchcriteria.year}} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="setyear('')">全部</a>
            </li>
            <li *ngFor="let year of years" role="menuitem">
              <a class="dropdown-item" (click)="setyear(year)">{{year}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle">
            {{searchcriteria.class}} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="setclass('')">全部</a>
            </li>
            <li *ngFor="let class of classes" role="menuitem">
              <a class="dropdown-item" (click)="setclass(class)">{{class}}</a>
            </li>
          </ul>
        </div>
        
        <div class="btn-group float-right">
          <button type="button" class="btn btn-success" (click)="getpupils(false)">检索</button>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->