<div class="animated fadeIn">
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">没有园儿名单信息，请上传</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" [uploader]="fileUploader"
          (fileOver)="fileOverBase($event)" class="well my-drop-zone">
          请将园儿名单csv格式文件拖至此处上传
        </div>

        <div>
        或直接打开文件上传
        <input type="file" ng2FileSelect [uploader]="fileUploader" /><br/>
        </div>

      </div>
      <div class="modal-footer">
          下载csv模板 <csv (Download)="DownloadCsv('class.csv', $event)" [headers]="['年度','班级','姓名']" [columns]="['year','class','name']"></csv>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->