<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/班级信息']"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{broadcasts.length}}</span>
      </a>

      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>{{broadcasts.length}} 条系统通知</strong>
        </div>

        <a (click)="stopPropagation($event)" [hidden]="broadcasts.length==0" class="dropdown-item">
          <div class="message">
            <div class="card">
              <div class="card-header small">
                标记全部已读
                <label class="switch switch-icon switch-pill switch-primary-outline-alt float-right">
                  <input type="checkbox" class="switch-input" (change)="updateNotification(broadcastids, true)">
                  <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
          </div>
        </a>

        <a (click)="stopPropagation($event)" *ngFor="let broadcast of broadcasts" class="dropdown-item">
          <div class="message">
            <div class="card">
              <div class="card-header">
                {{broadcast.Title}}
                <label [attr.for]="broadcast.id"
                  class="switch switch-icon switch-pill switch-primary-outline-alt float-right">
                  <input [attr.id]="broadcast.id" type="checkbox" class="switch-input" checked
                    [(ngModel)]="broadcast.read" (change)="updateNotification([broadcast.id], true)">
                  <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <div class="card-body">
                <div class="text-truncate font-weight-bold">
                  <a href="{{broadcast.link}}">{{broadcast.Title}}</a>
                </div>
                <div class="small text-muted text-truncate">{{broadcast.Content}}</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>

    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <i class="icon-envelope-letter"></i><span class="badge badge-pill badge-info">{{notifications.length}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>您有 {{notifications.length}} 条信息</strong>
        </div>

        <a (click)="stopPropagation($event)" [hidden]="notifications.length==0" class="dropdown-item">
          <div class="message">
            <div class="card">
              <div class="card-header small">
                标记全部已读
                <label class="switch switch-icon switch-pill switch-primary-outline-alt float-right">
                  <input type="checkbox" class="switch-input" (change)="updateNotification(notificationids)">
                  <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
          </div>
        </a>

        <a (click)="stopPropagation($event)" *ngFor="let notification of notifications" class="dropdown-item">
          <div class="message">
            <div class="card">
              <div class="card-header">
                {{notification.Title}}
                <label [attr.for]="notification.id"
                  class="switch switch-icon switch-pill switch-primary-outline-alt float-right">
                  <input [attr.id]="notification.id" type="checkbox" class="switch-input" checked
                    [(ngModel)]="notification.read" (change)="updateNotification([notification.id])">
                  <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <div class="card-body small text-muted text-truncate">
                {{notification.Detail}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img [src]="user.avatar" class="img-avatar" alt="加载中..." />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>您好, {{user.name}}</strong></div>
        <a class="dropdown-item" [routerLink]="['/用户信息']"><i class="icon-user"></i> 用户信息</a>
        <a class="dropdown-item" href="#" (click)="logout($event)"><i class="icon-logout"></i> 登出系统</a>
      </div>
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">{{current_department_name}}</a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="{{branch_department_link}}">{{branch_department_name}}</a>
        <a class="dropdown-item" href="{{current_department_link}}">{{current_department_name}}</a>
      </div>
    </li>
  </ul>
</header>