<div class="animated fadeIn">
  <div class="card" [hidden]="!found">
    <div class="card-header">班级信息
      <csv (Download)="DownloadCsv(false, '班级信息.csv', $event)" [headers]="['ID','班级','学年']" [columns]="['id','name','year']"></csv>
      <button type="button" (click)="showupload()" class="btn btn-sm btn-danger pull-right">上传</button>      
    </div>
    <div class="card-body">
      <app-loading [loading]="loading"></app-loading>

      <table class="table table-striped" [mfData]="items" #mf="mfDataTable"
        [mfRowsOnPage]="10" [hidden]="loading">
        <thead>
          <tr>
            <th style="width: 5%">
              <mfDefaultSorter by="id">ID</mfDefaultSorter>
            </th>
            <th style="width: 35%">
              <mfDefaultSorter by="name">班级</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="year">学年</mfDefaultSorter>
            </th>
            <th style="width: 20%">园儿信息</th>
            <th style="width: 20%">教师信息</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.year}}</td>
            <td><a [routerLink]="['/园儿信息', item.id]"><i class="fa fa-link"></i></a></td>
            <td><a [routerLink]="['/教师信息', item.id]"><i class="fa fa-link"></i></a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,30]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">没有班级信息，请上传</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" [uploader]="fileUploader1"
          (fileOver)="fileOverBase($event)" class="well my-drop-zone">
          请将班级信息csv格式文件拖至此处上传
        </div>
        <div>
          或直接打开文件上传
          <input type="file" ng2FileSelect [uploader]="fileUploader2" /><br/>
        </div>
      </div>
      <div class="modal-footer">
        下载csv模板 <csv (Download)="DownloadCsv(true, '班级信息模板.csv', $event)" [headers]="['ID','班级']"
          [columns]="['id','class']"></csv>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->